.olxapp__component {
  display: flex;
  flex-wrap: wrap;
  background: rgba(0, 47, 52, 0.03);
  justify-content: center;
  align-items: center;
  height: 220px;
  padding: 0px 50px;
  margin: none;
  margin-bottom: 250px;
}
@media only screen and (min-width: 992px) {
  .olxapp__component {
    margin-bottom: 0;
  }
}
.olxapp__component > div {
  width: 100%;
  text-align: center;
  padding-bottom: 25px;
}

.olxapp__component__applicattionicon span img {
  width: 130px;
  margin: 0px 6px;
}
